* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui;
  background: #3d76d9;
  scroll-behavior: smooth;
}

.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;
}

.crousel h1 {
  color: white;
  text-align: center;
  margin-top: 1em;
}

.container {
  overflow: hidden;
  padding: 20px;
  margin-top: 2em;
  background: rgba(0, 0, 0, 0.1);
}

.card-carousel {
  --card-width: 80%;
  --card-max-width: 280px;
  --card-height: 400px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter 0.3s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2);
  }
}

.card-carousel.smooth-return {
  transition: all 0.2s ease;
}

.card-carousel .card {
  background: whitesmoke;
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  filter: brightness(0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card.highlight {
  filter: brightness(1);
}

.card:nth-of-type(1) .image-container {
  background-image: url("https://lh3.googleusercontent.com/pw/ADCreHe40FG5m2WkRYHlJFIQTx4r3yENVYTul5N8VW6vYmKFaxik-sC9R_nb8HXLbRztKSrKPerHDJLrxR68i7YmpCrOKK-ZlXwT4XC7RUQr7kVF7lanpUlHYTTr7LORds0yJR1L0YuurVMr0kwrhNfDQpjV-xaWCeKot-0YT9vhfnkVVYLvof4S5M144pOQ21309dY6uCvnSN6ijREU8RV7iKFcCR_n0CrDJAhEgzS8Hcq1hSS3B-UBP9yKNdlt_BKr0ROaRm5G8q5YnyIF9a-2vj6_8yZ7FENgD_xaZujUcLLIWvIbldeh21h9DevMC-zIjjzsPv8C53J-66lCxvxlamswGKTQJVAo-3SALVPUGpu1mT0yK219A3OzWX3kBLisVs-JWzmlKOOEtJNdlK0c8zKQJEQej-cUVNInkCGkpwBNIWqZ3VrnBoLnTR3w6Gefiexeq9F2Krrnb1dZjoU8SeXIbYTQxsfSSaCEIAsqh3MI_kFpau0_SSHcueUdP3eGvkqujjSZi9423mHMYL4wXrTI7KyLkx9ngG3DuyGdgmk_wkEy8CvnjGOoBpqK_Ij-NEIUTcL3KnurxBWziE6TKQDjLuKzs7hCpui5Xc8aH4SjU6ZTB629ldwNzb-fS1SAjNfiiXllGWIrgP3MvMHKlnTe8euaQD0fr2t6MA4wM1SzhloiMIj_vyYpn-cRHdZtTjXwvxRgzs_EBZLsXTC1C6Bd02EuI6VQxtC2zKLXPat_bNdzHfZ84ELlpiu53HGNdM1ommS55NOJIPNZE7vW3ueZiZSnmN2Pb2Ic4CHYrj_labm6vlTukZbdVVVrgs2yVYoYVPqxDifJ7hFYTfcLPMzJiMNzJ48ivIhAijZHRZT-i8vSZKOYXsW0Vqcll9MM15LAHahobMNptHx_AI--RS81KI5tvdMWKGZKonTcz0UEtxxDxI7_fGX357ybEdKTBCmmlgM=w706-h874-s-no-gm?authuser=0");
}

.card:nth-of-type(2) .image-container {
  background-image: url("https://lh3.googleusercontent.com/pw/ADCreHfurseRKOigI3deIM6Ac6qVn6IzpVu9vyikhrmSZ5JrNWuAZyVVQTNZFrU5ZDLzWS1xoU87dW4OLMx39JLfnnEf4uwIYh2gdEoZZcLkfNR7tCoHVkev0l9zpwehGEP_jKU7CQ8-UBE9Vv6GVi9SCsPoYrMK78DQBXniLrQCLIvb1NnomkT1luW0fHuQdjNbuZiAPgFLY028YyW5e3JDvEXBQcyqSrhBUaX-hoIhljV0QQXDh2irpYEI5NkLBDTGgJfM9rs-P1hwbR1fABOv-dMbEV2T5EWgEqKgxZZPrwV4oM-TYKKAnMJY7EQXNLqKUy324uGPN_xpBC1ZuqXq-1_405D7GtzyWc0UcJVog9WVUVsBUgUTnYEaabkG-K_EQaQ-PTLyzEctrfcDnwVAiCQLqjfhUx0g0MKrHjTNHzXlx7d-t8wKgVRF6a9GoILd72EY8n0pFpyzaMA5SOBQNhmMjD-Eqd-i87mtXsljpyBlQ8Q7ASjKypHnEg5dqLeyP4kFnM5nwKzuccwx0NUJbVePgNPz8gyhVoxd2VRd9VGPv6tdUVTuX47_4r6heCfbVuQXWPRRKBQQxHOJwBiLAFNiuMLqEcEb2t7a7MCmIKXm9QPXir0hS8LmSUzonKdWGFGjrPqQxIrEHHW3wfDj58rJJQ1NjUdFf-i9K4ccbG-FOaQ1kHZKsZn3x35LFhxMsDTQK5v3UAoFIsRNoHw70oavE41AtQAPqT0zfdAwCuNBcWBqMkheDjP9V03ZdEIpr2zwI8V_FpAqr3vG20T2KhFuyqJCuEx3y66smSINYVXVIpHqXszOWGoArjjkG6sX-c9iHXSt-NK8y6U-Dc6I7j702gAKChlvz2Y0I5zriLFF22KMCvjHzWjNS8sRaS5wP5tvnSvr_Uo0b_oTLWJi5pzprGcahAiwclqzVPc9UFXfEbFzkmqyn-Tf04IfEMS2ikh5TMg=w898-h874-s-no-gm?authuser=0");
}

.card:nth-of-type(3) .image-container {
  background-image: url("https://lh3.googleusercontent.com/pw/ADCreHdYmfNVDv4LxK1qOkQ8689Jrx-DrIS8-DGiQoJ9FKg92Q83y4PJOnLAw20hvKVa8iaMigXhufab1x77xgyWaXC4RGoKKgapZwQw0U2JbJHdbY6HKLUtC_DVywZF85_yq_IPqem-42VJivMD5xxYQnMEQldnORc6UkfWZY1HpA95qaW6QFFEVbVLRCI-LluKRDD1nlLCfWwvcQ8n3-CyzR-b_4fDTQRy-Zx_YDNh9dkguL09ltnsTiZNGCqHjgaCE6CUPmryv_rmenGA7YuMZxYSuGGOwjyL63SJnGFAUyNeMOPTxNOTAs12k5e5lN2-a5sL-Hhcchjx1_C7PKDxvANH8CQU6QylEiH5KKEzGIr1iUIiZjeayl_qjSu0WdauJhHeVuR64l9i0qC8gd_IUdReqDUtLxLSi8mBLA_tSz3ABZS-UCY4FA1XqzlTWzPbAj0z-LSrQrd8I74TZNDpL5wEszlIM2z47Utsh7XX8WzqxgrhrUIV7Jn1IB_10nDTCmyxmuw6WcV1iI_BOiGTPxAYrN6Wo6IBYAKSg70jDMPoKR4UL77C8RuFMYzpVo8PGcH0ddZsn5RYz7NBo5YdYPUBgK8i5PrY15V-biNLBw_uB5llFfTtghHJfJ-a9PIUGsTkkYFdH0iZzCsetPG1Shs8tTn8MGQ34KLTanWnQHKAakMddNQcz5n11X1BH3aPxTtvt_JJN6dzV4nqR62AUjcPvW3bWec-gqkpAIqD0xEb1SiqlnzNgWwXhvu8tU8ZCm94GqSaX-xSFa_3wyUC0D5--zvD7CIqRhso_DU_vIoAq260xiY7N6j3u8VkFEadfXtZApmBL44N1BbTuZmdaDKC_f_rbsmhZTZHO9d2zNWdb8Yd3FZUWIQ5iYegz_XxGv1Olhue9BZcnp4Sw4d5t1rLAuFWZ_634-jLeYwqKRf0jIVpBZVnLN5Y88z3ouqgV35nEio=w819-h852-s-no-gm?authuser=0");
}
.card:nth-of-type(4) .image-container {
  background-image: url("https://lh3.googleusercontent.com/pw/ADCreHf9AqUeVBwBJeyILSQkSybP5kxWMYAq-4QhO-k8-hj4-BT9QSrjtDknxaF2JaagbrToeXeKMj_ajAuRrBr_-BKEpa-6icLgiVWnpR1WlGJ_K-xuqwIvEeqcfKnvqpmV5r114UWXkz19VHEHQI_VWcynFsj1rdEsX2K9-ydvSPyCgL5EiecWHKKy1GbIyvbDRekgIILFucP9wp-EwD1m2cH3Jomg4sRAOjSlAjtt3nm2_gjL9ScqaI6hpberon7vf4C2MPnt86f6u1xxOjKu8_ET7nY9ZKXrI9o6n5FTkFi6DEh_OBpIl0tfF8jWM6YXC54fOtYXmZkyseyVe3ct3_OygD5zTzwoS7M6jRruVJ4OqmCCqiCbcDuFeg0JJVtKg6l4YXwatNn1vaHLjBKpyzCccxp9Xt_ff_WisH8TVwGVCgwKenfaNuTsUKQIpWhD7tnKWfw57crx9F_ySez5Dm2LOxYqWUitQk9gEOQRiz4eexYyIaHAvcARsQmVDDVl-qdeuFar866MBIDnfoLXFDJx9fEPoEzJsQFMBu02yMAT0jA7JZ5JFj4A9rxYomNgk5fDdrZ4Peox8lqL2iEP0k1APLKCOfrjLfCk4X4MnxR90LvcfL0vgKZ_wrcZSy_M2p6F7l0ZvsSmCM7qZRGRb18q6xHOMoEvGNFaMpiuSjHTsfBrIM1GPslHjUzMekEbqSorMazJ2jJR5l4YbepSYyU1f39TY5-oHFe-mmdyJ5i6oGEYeNKeSmR0KLZkBmgTdU2SqCRC-gV_7fXmfNZhcnGXZe7vL9wBU5c2tqqs2ykyEnQn1P1vSFAH-CnJt2QVFcHvBiZvYMbtuOT7Safloy635TySgpb6HsTtZM_U4mQrFq4JRcSdY-jFiflTjdX32kcG4_dF9QSl0nl9kdFmW0TZj0b0v_g33e2P-mGQJoZWQdrQ6Oc77jacQ2-JWd3PVLInTmk=w568-h527-s-no-gm?authuser=0");
}
.card:nth-of-type(5) .image-container {
  background-image: url("https://lh3.googleusercontent.com/pw/ADCreHfecH4zr52q3ArFSjfyMg02zVtri_aaKuqFwPzDUCCKR9gKaukgcWmE__xC8WKNqYSfJRExYPP8afpidj5etH7JqZ-FHU3w7Ckz6vfV6oFkvB-O1cufWr1B9g8ZBypw-45Jj9ERVYmAJf-JqqLrWnlAyFGsjzUIYY8gUrNNWl1blmOq35si9wTtleNLF5fIYTj5La3U1fwsDaERtyVHMCrBHrvmNgJIuH6d6zFKfayJgePQPg795NW759XGxRQilPplqr5u_P3v5k8ww9W8W2iY1RAVn2Wo13btAE4LujgQtqXNe7kwpkS1b-n1fsmQyI_XdqpUyYJmpWXraC3rNvQ8mKTdoo4XemEOApaWIpg637H9gkhYjESpnFHX7U82z1y3cGYG8yB2TLmc9p2UDJqRBUwnVg6fR3Q5lBxAtS7VdYqg86cD5JdYMRQ_VwUd1puTVasgsxXGjOEJi08fbTEu6v7Ttp4W6EBQgSC63-fOyq-BMQBbjloSdN2Wk1jjDxbA4kUECvLQxQgucD8bFvhdyCUs2Kq3TzjkliouIsPqhNfPJzcP833F6SO2BxS7tFUb7BfEZzCSIYxvRuQ_rhDKyFAUEHji_q1CYPjd5GsWPcGI1dIK0lPnydF-LAFLG555oJDJaBCqIBgK5IwAtT_28cxjCpb3iCqCxtjDNJwmbGQXXtbc4vXZqYGUSG5_86qclOJUTbXW7thnmhklWaHDZTtvSHXyVpBrWCONX6AMo5d-yJc48SJqSteUDMr5mqycsW0jEk7KbQb4bVfBzGqJMDvMQ-2TcZY_sokppIraoJ7N3_w2wJShsvBWDWM7Q8cNJH0dKo1D9mNPXO0bAdW9LwPth2CwOao7xv2-bz-4Dg67_7Wat76OQKy7oVKeR_f6mFi4t6L_HxJojF3ox7zJ5pjFBWewlPwkXCpRFoyEAT31d5K4aroKsIq6l71Fp-z-0oM=w854-h874-s-no-gm?authuser=0");
}
.card:nth-of-type(6) .image-container {
  background-image: url("https://lh3.googleusercontent.com/pw/ADCreHf8h7nQ5EyE6aDWxE9ZtNfviVODpiADpRF7GCeRlqSPtVzS_UqNbrgPsGnidY884Vgr2mllwL1iz-1tP7vjnRVH2F8SogKibFCetSqg5-8t4CZ2EX4yhq22Xgtp1FNsJAdkW8V8mhE1m0OF2a_kLkByjfUIbV2TWxsrQxowVSU-wx_TCt3O7BF58ja1OG8X1OUppkN9KpPLVr9fv17c0ukE-7C_CGo50qcWTCnoqtAXLVfHPihoE0zNPZIxaXYoz3YD5f9bbHytmN5A8yjucRUcz_Zpx6EkgZd8TsykgsCwRZNmlpox_FJHM6RcUO9hNWGv_7JD--UxpcwuLeVamnHLIdK-HANcmDJuYSo5FaIG9ZwxF-BofJ1Cf3hSwlE5OhtocSZKkd-DopIK4ApC0eZIEozDQC_ZBmf-RcA2MCbAZWjx3DKqyqEZblDWXgt0yAjuLVA9DzIIEXgLCCOeLkYRFUwpSTT4f9q_fxYWZgTJEwnJARB8p-jC2e9R7eFjxX5Mfw3xuocqwpGFv_yJnyXqUJ8oIwcFg3oHpPNJAc8dDmi-UwZNpOTNQtLAEfyDsT_FA3lAfyWjhCVEuqBym_rvXcwoxFU-R1vHnPqEHdwpMv2SBcps2KYqLGwBvsb7vPlzC7BTkkIsyOnILROYcx50jjUnSz_TcDOJWCzmeNSQEYRfE_0Mte7B8JNYFMlAyMQFjtBRd7wQjt-RxB6hn9soxyuzjnZLRdwU5yaylDwTMrt8Zx11faTSEonJUcYQq-BLDeu9bVnkmp0BQA2HKA1oWopj99qyx0dzveDa4lPkIQeu0-ABYvFQeyIV4Btj1V76kLCpfE7jYI4ZzoxZt2H812_PoCw2geXDY5zrK1HGQx2W4KevI3kaOxV4uN3Q9L5_Ac0fIj4PCWYidBv1KEnW2AI5qqy2PP-oK1KlfnAG746CYewOsHbup1ugqgkzqxA5zvk=w541-h496-s-no-gm?authuser=0");
}
.card:nth-of-type(7) .image-container {
  background-image: url("https://lh3.googleusercontent.com/pw/ADCreHd_RXpgVH3AsWDJnuAUecfU6ZhDErH8UxIh-_sy36RWsTuZk52BIj1NoTSogUwzQ5_WI-JsLDEpQaIUaOLA9fpAj6ML1iYHJl5VuyEMKMlXUpgLeUm0oDzj8da-t2mqGgfPf9xsUTEIghfYreK1yqEJwI7IbasBMW8OahJaE9fD4YKdovB--35IgUFa16Y-Zs_XYkKWV7n7DkW6BICzQyedDQVlHoodea2dzMoosdphN2cHhreqH8XzZD6-2SDfIb1iWHMHPPia4RursK6N3UsI0tj2Uon7ZTFGmz8X2fQJwhBsrk8rzyYx7Z_6Vq8tlldI0UH-kthAU30fJijr9V1b4dr83HU-mnzpOBv6Fk9-FDq30bGikgElPgbSj-VQJYEbnU8VCgFfIRw1YuAOXErzxp0bhaxhT2oqYwXF4pe_vYT8avkUS56_NwIoFAfEllYs-h_kvV6uPl6wkE5XWDkD-b0qJWMnOJVgaQLFN6nYZPxigIPmRw2EspF-M-U5yEmARQEL6mGpJNhQo4srHwrFRJ8S0JbJIsm9NGuCpAxebsGhvKZYmS8uj3XkuoHFn0Wyjbm9OLvmBB33QcSBD4L2N100z-Mc3L-F45_9fUFd_a2NboEG9cD57_LITpA6Nn0WmTjWTF09vTmRso6AhOfItWGy0wMJchdUIYPvmzBBjS7UR098Kxt-6KCHMFUTmZyurddDLG6U1RhLW2x9qWUO6wsyUgI2oc5C1BfMppEew2GIsNK5u4BuIGWYXS33Rv920FMdZfJJoI0WScwoixRkVH9o6B1-gaDLPYnx-q0MKNR-a1vcJbiIqZhPYk3OmfmpomV27af6hu0yDmlQJzmSYK0d4ktiN5pouohbq-JONUivlawBf53L_uMF1Lh3DTgmfPgB2nENPd0s6qFJ3eQTx0_D0u8sYKv2nkk6ICFmEW4RSB3KdHCfHrA7I_RlUD4fXBw=w855-h827-s-no-gm?authuser=0");
}
.card:nth-of-type(8) .image-container {
  background-image: url("https://lh3.googleusercontent.com/pw/ADCreHc-U9ylLtgzG94lYN-3125kVRd_5I_TLMmUIXiPnWHndiuTczMaOdcTim-KEqf48bnaLTBhudd4jnSKPQk4CbH-hrDfwoqgwM32EkLUNinVoKLSmuBb9gYa6ew8YWKPwjPrew0zIHaB1lfLFZBSsAIui9nE2I4yxP0FxDy_dQvClTNrQMcgKorlDOczp6llzkufkqJ2wlfcvKkjhT-bd1EgIBQTwDzxNNknUKTTYMUXPLSUSAZV8Wr6ejlSyIcb8srkNBUQokwFkGUtqnlKvjF1bYkHTdwKHz2IIlIyL_qvc3CF01Ers7zCWCY3J9iPCKfLva3uYnyoXafduLT2JWFT9vsFMMU2b13qQPSi4JyCbIekmZ-p54kiJHaG_1ZeYETGZo6cinpNoZIQGCVls1WOKHJmHPh5CfE3XwrOXNn-nVbqXJ3cH5JR9B80Q7L_VfnqHq_2gP4UfALVWvrIJAtTppPCVBoG_84_Oi02A8R9TMK4NkBAoNghnadNdvdxKDCRGlF1bErr8cGNFLcDc2FdKc18Bi_YnKNBBSU-N79MOMWtpUXm52mpeYk4Ktjxoe6PhzjApgH8jwXzV6WhY2ZOxuyq-Ip8SpWJFyiDhPqQZ28LzlCxLT-k8Ujo8O6dTRr6Mm5AY3jXtAxrhNLN7id0qM18oA0PRCA_F2YQOjv1B40HBzfQehnE-KkoOM0iKlKs0mJQ1dfj4SjMoifvoW4yFvpI46vq1Y15XxpRgxA0WoDnyZKcFl6ZjDDKUO04-HgQaDT0x2exVdzLGN74wKtHijegD4P1BETtwq_RkPBGHoXJk4WYNERVynTBp70OZUMeU-m5ESqzrzXsK0sPBykuVb0vdoAD4sQeYm0fecZDnv9Wt9qxH-Y6XQWL80VolrAgooz7RcYwUH4tfYWX1WzhNqgfQ_ZLkus2dE5vENOhUU_QHpMi4Gb7Sejf3Qd8W9bCYfA=w825-h823-s-no-gm?authuser=0");
}

.image-container {
  width: 8em;
  height: 8em;
  position: relative;
  background-size: cover;
  margin-bottom: 2em;
  border-radius: 100%;
  padding: 1em;
  -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
}

.image-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  border: solid 3px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  position: absolute;
  top: calc(-10% - 3px);
  left: calc(-10% - 3px);
}

.crousel h2 {
  padding: 1em;
  margin-top: 1em;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  border-radius: 0.2em;
  display: inline-block;
  transform: translateX(calc((100vw - 100%) / 2));
}

.crousel h2 a {
  color: #f5b916;
}
